<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} NopalPOS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="layout">
        {% include 'core/navbar.html' %}
        <div class="layout-body">
            <div class="layout-nav">
                {% include 'core/sidebar.html' %}
            </div>
            <div class="layout-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}{% endblock %}
</body>

</html>