{% extends 'core/base.html' %}

{% block content %}

<div class="columns is-multiline">
    <div class="column is-12-tablet is-6-desktop is-3-widescreen">
        <div class="notification is-info">
            <p class="title is-1">
                {{ items }}
            </p>
            <p class="subtitle is-4">
                Productos
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>document.querySelector('#dashboard-link').classList.add('is-active');</script>
{% endblock %}