<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'core:dashboard' %}">
            NopalPOS
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">

        <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Usuario
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        Perfil
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>