<div class="sidebar">
  <a id="dashboard-link" href="{% url 'core:dashboard' %}" class="sidebar-link">
    <span class="icon has-text-black is-medium">
      <i class="fas fa-tachometer-alt fa-fw fa-2x"></i>
    </span>
    <span class="text">
      Tablero
    </span>
  </a>
  <a id="items-link" href="{% url 'inventory:item-list' %}" class="sidebar-link">
    <span class="icon has-text-black is-medium">
      <i class="fas fa-box fa-fw fa-2x"></i>
    </span>
    <span class="text">
      Productos
    </span>
  </a>
  <a id="units-link" href="{% url 'inventory:unit-list' %}" class="sidebar-link">
    <span class="icon has-text-black is-medium">
      <i class="fas fa-balance-scale fa-fw fa-2x"></i>
    </span>
    <span class="text">
      Unidades
    </span>
  </a>
</div>