{% extends 'core/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Productos</h1>
        <a href="{% url 'inventory:item-create' %}" class="button is-success">
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>Añadir nuevo</span>
        </a>
        <br>
        <br>
        <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td>{{ item.code }}</td>
                        <td><a href="{% url 'inventory:item-detail' item.id %}">{{ item.name }}</a></td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.quantity}} {{ item.unit.name }}</td>
                        <td>
                            <a href="{% url 'inventory:item-update' item.id %}" class="button is-info"><span class="icon"><i class="fas fa-edit"></i></span></a>
                            <a href="{% url 'inventory:item-delete' item.id %}" class="button is-danger"><span class="icon"><i class="fas fa-trash"></i></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
document.querySelector('#items-link').classList.add('is-active');
</script>
{% endblock %}