{% extends 'core/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'inventory:item-list' %}">Productos</a></li>
                <li class="is-active"><a href="{% url 'inventory:item-detail' object.id %}">{{ object.name }}</a></li>
            </ul>
        </nav>
        <h1 class="title">Detalles de producto</h1>
        <div class="content is-large">
            <p>
                <b>ID:</b> {{ object.id }}
            </p>
            <p>
                <b>Código:</b> {{ object.code }}
            </p>
            <p>
                <b>Nombre:</b> {{ object.name }}
            </p>
            {% if object.description %}
            <p>
                <b>Descripción:</b> 
                <br>
                {{ object.description }}
            </p>
            {% endif %}
            <p>
                <b>Precio:</b> $ {{ object.price }}
            </p>
            <p>
                <b>Costo:</b> $ {{ object.cost }}
            </p>
            <p>
                <b>Unidad:</b> {{ object.unit }}
            </p>
            <p>
                <b>Cantidad:</b> {{ object.quantity }} {{ object.unit.abbreviation }}
            </p>
            <p>
                <b>Fecha de creación:</b> {{ object.created_at }}
            </p>
            <p>
                <b>Fecha de modificación:</b> {{ object.updated_at }}
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#items-link').classList.add('is-active');
</script>
{% endblock %}