{% extends 'core/base.html' %}

{% block content %}
{% load extras %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'inventory:item-list' %}">Productos</a></li>
                <li class="is-active"><a href="{% url 'inventory:item-create' %}">Nuevo</a></li>
            </ul>
        </nav>
        <h1 class="title">Nuevo producto</h1>

        <form action="{% url 'inventory:item-create' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="columns">

                <div class="column">
                    <div class="field">
                        <label for="{{ form.code.id_for_label }}" class="label">Código:</label>
                        <div class="control">
                            {% if form.code.errors %}
                            {{ form.code|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.code|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.code.errors %}
                        {% for error in form.code.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label for="{{ form.name.id_for_label }}" class="label">Nombre:</label>
                        <div class="control">
                            {% if form.name.errors %}
                            {{ form.name|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.name|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="{{ form.description.id_for_label }}" class="label">Descripción:</label>
                <div class="control">
                    {% if form.description.errors %}
                    {{ form.description|addcss:"is-danger" }}
                    {% else %}
                    {{ form.description }}
                    {% endif %}
                </div>
                {% if form.description.errors %}
                {% for error in form.description.errors %}
                <p class="help is-danger">
                    {{ error|escape }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="{{ form.unit.id_for_label }}" class="label">Unidad:</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                {% if form.unit.errors %}
                                {{ form.unit|addcss:"is-danger" }}
                                {% else %}
                                {{ form.unit }}
                                {% endif %}
                            </div>
                        </div>
                        {% if form.unit.errors %}
                        {% for error in form.unit.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.quantity.id_for_label }}" class="label">Cantidad:</label>
                        <div class="control">
                            {% if form.quantity.errors %}
                            {{ form.quantity|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.quantity|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.quantity.errors %}
                        {% for error in form.quantity.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="columns">

                <div class="column">
                    <div class="field">
                        <label for="{{ form.price.id_for_label }}" class="label">Precio por unidad:</label>
                        <div class="control">
                            {% if form.price.errors %}
                            {{ form.price|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.price|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.price.errors %}
                        {% for error in form.price.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="column">

                    <div class="field">
                        <label for="{{ form.cost.id_for_label }}" class="label">Costo por unidad:</label>
                        <div class="control">
                            {% if form.cost.errors %}
                            {{ form.cost|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.cost|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.cost.errors %}
                        {% for error in form.cost.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>



            <div class="field">
                <button type="submit" class="button is-link is-medium">
                    <span class="icon"><i class="fas fa-save"></i></span>
                    <span>Guardar</span>
                </button>
                <button type="reset" class="button is-light is-medium">
                    <span class="icon"><i class="fas fa-times-circle"></i></span>
                    <span>Cancelar</span>
                </button>
            </div>
        </form>

    </div>
</section>
{% endblock %}


{% block scripts %}
<script>
    document.querySelector('#items-link').classList.add('is-active');
</script>
{% endblock %}