{% extends 'core/base.html' %}

{% block content %}
{% load extras %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'inventory:unit-list' %}">Unidades</a></li>
                <li class="is-active"><a href="{% url 'inventory:unit-create' %}">Nueva</a></li>
            </ul>
        </nav>
        <h1 class="title">Nueva unidad</h1>

        <div class="columns">
            <div class="column is-6">
                <form action="{% url 'inventory:unit-create' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="field">
                        <label for="{{ form.name.id_for_label }}" class="label">Nombre:</label>
                        <div class="control">
                            {% if form.name.errors %}
                            {{ form.name|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.name|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label for="{{ form.abbreviation.id_for_label }}" class="label">Abreviación:</label>
                        <div class="control">
                            {% if form.abbreviation.errors %}
                            {{ form.abbreviation|addcss:"input is-danger" }}
                            {% else %}
                            {{ form.abbreviation|addcss:"input" }}
                            {% endif %}
                        </div>
                        {% if form.abbreviation.errors %}
                        {% for error in form.abbreviation.errors %}
                        <p class="help is-danger">
                            {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="field">
                        <button type="submit" class="button is-link is-medium">
                            <span class="icon"><i class="fas fa-save"></i></span>
                            <span>Guardar</span>
                        </button>
                        <button type="reset" class="button is-light is-medium">
                            <span class="icon"><i class="fas fa-times-circle"></i></span>
                            <span>Cancelar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}
<script>
    document.querySelector('#units-link').classList.add('is-active');
</script>
{% endblock %}