{% extends 'core/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">¿Estás seguro que deseas eliminar esta unidad?</h1>
        <h2 class="subtitle">&nbsp; Detalles:  {{ object.name }}</h2>
        <br>
        <form action="{% url 'inventory:unit-delete' object.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button is-danger is-medium">
                <span class="icon"><i class="fas fa-trash"></i></span>
                <span>Eliminar</span>
            </button>
            <a href="{% url 'inventory:item-list' %}" class="button is-light is-medium">
                <span class="icon"><i class="fas fa-times-circle"></i></span>
                <span>Cancelar</span>
            </a>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    document.querySelector('#units-link').classList.add('is-active'); 
</script>
{% endblock %}