{% extends 'core/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Unidades</h1>
        <a href="{% url 'inventory:unit-create' %}" class="button is-success">
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>Añadir nueva</span>
        </a>
        <br>
        <br>
        <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in object_list %}
                    <tr>
                        <td>{{ unit.name }}</td>
                        <td>
                            <a href="{% url 'inventory:unit-update' unit.id %}" class="button is-info"><span class="icon"><i class="fas fa-edit"></i></span></a>
                            <a href="{% url 'inventory:unit-delete' unit.id %}" class="button is-danger"><span class="icon"><i class="fas fa-trash"></i></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
document.querySelector('#units-link').classList.add('is-active');
</script>
{% endblock %}