.layout {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.layout-body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.layout-nav {
    order: -1;
}

.sidebar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.sidebar-link {
    flex-grow: 1;
    color: #4a4a4a;
    padding: 0.8rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

.sidebar-link .text {
    transition: all 0.1s;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    transform: translateX(0);
}

.sidebar-link.is-active {
    background-color: #f2f2f2;
    color: #0a0a0a;
}

@media (min-width: 768px) {
    .layout-body {
        flex-direction: row;
    }
    .layout-content {
        flex: 1;
        padding: 1rem;
        margin: 0;
    }
    .layout-nav,
    .layout-ads {
        flex: 0 0 100px;
    }
    .sidebar {
        padding-top: 0.8rem;
        flex-flow: column wrap;
    }
    .sidebar-link {
        flex-grow: 0;
    }
    .sidebar-link .text {
        transform: translateX(-200%);
        text-align: center;
    }
    .sidebar:hover .sidebar-link .text {
        transform: translateX(0);
    }
    .sidebar-link.is-active .text {
        transform: translateX(0);
    }
}